body {
    margin: 0;
    /* Pongo esto para quitar el margin del body y que se ajuste a toda la página */
    background-color: #e5dfd6;
}

.nav {
    display: flex;
    /* Para que se alinee al centro horizontalmente */
    justify-content: center;
    /* Para que se alinee al centro verticalmente */
    align-items: center;
    /* Ajusta la anchura del nav */
    width: 100%;
    /* Ajusta la altura del nav */
    height: 70px;
    background-color: #004b41;

}

.div-nav {
    display: flex;
    /* Fila horizontal */
    flex-direction: row;
    height: 60px;
    /* El porcentaje de su padre, en este caso el nav, que va a ocupar */
    width: 30%;
    /* Alinee dejando un esapcio entre cada elemento */
    justify-content:space-between;
    align-items: center;
    
}

.enlace{
    /* Quitar el subrayado del enlace */
    text-decoration: none;
    color: #f4f3ef;
    font-size: 20px;
}